h1, a {
    color:#fff;
    font-family: roboto;
}
h1 {
    text-align: center
}
.line {
    height: 1px;
    width: 250px;
    background-color: #fff;
    margin: auto;
    margin-top: -10px;
}
#chartMenu {
    margin-top: 25px;
    display: inline-block;
    margin-left: calc(50vw - 350px);
    transform: translateX(-50%);
}
a {
    text-transform: uppercase;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: -4px;
    font-size: 30px;
}
a span {
    opacity: 0.7;
}
a:nth-child(1) {
    background-color: #E91E63
}
a:nth-child(2) {
    background-color: #4CAF50
}
a:nth-child(3) {
    background-color: #FF9800
}
a:nth-child(4) {
    background-color: #2196F3
}
a:nth-child(5) {
    background-color: #F44336
}