input {
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    width: 400px;
    color: #fff;
    outline: none;
    padding: 3px 10px;
    font-size: 20px;
    font-family: roboto;
    margin-left: calc(50% - 350px);
    margin-top: 50vh;
    transform: translate(-50%, -200%)
}
input::placeholder {
    color: #fff
}