#container {
    width: 420px;
    margin-left: 50%;
    margin-top: 45vh;
    transform: translate(-50%, -200%)
}


input {
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    width: 400px;
    color: #fff;
    outline: none;
    padding: 3px 10px;
    font-size: 20px;
    font-family: roboto;
}
input::placeholder {
    color: #fff
}
button {
    color: #FF9800;
    border: 1.7px solid #FF9800;
    border-radius: 200px;
    background: none;
    font-size: 20px;
    font-family: roboto;
    padding: 8px 22px;
    margin-top: 20px;
    float: right
}